.header_area .navbar {
    background: transparent;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    width: 100%;
    background: -webkit-linear-gradient(45deg, #006400 , #00FF00);
    background: -moz-linear-gradient(45deg, #006400 , #00FF00);
    background: -ms-linear-gradient(45deg, #006400 , #00FF00);
    background: -o-linear-gradient(45deg, #006400 , #00FF00);
    background: linear-gradient(45deg, #006400 , #00FF00);
}
.header_area {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}
.header_area .logo_h img {
    height: 60px;
    margin: 30px 0;
}
img {
    max-width: 100%;
}
.header_area .navbar-brand {
    margin-right: 30px;
}
.header_area .navbar .nav .nav-item {
    margin-right: 45px;
}
.header_area .menu_nav {
    width: 100%;
}
.header_area .navbar .nav .nav-item .nav-link:hover {
    color:black;
}
.header_area .navbar .nav .nav-item .nav-link {
    font: 500 12px/100px "Poppins", sans-serif;
    text-transform: uppercase;
    color: #fff;
    padding: 0px;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
}
.header_area .navbar .nav .nav-item:last-child {
    margin-right: 0px;
}
.header_area .navbar-right .social {
    border-radius: 50%;
    font-size: 20px;
    background: #322f31;
    border: 2px;solid #322f31;
    color: #fff;
    height: 53px;
    width: 53px;
    line-height: 50px;
    display: inline-block;
    text-align: center;
}
.header_area .navbar-right .social:hover {
    color:#00FF00;
}
.header_area .navbar-right {
    width: 80px;
}
a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
body {
    line-height: 24px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background: #F9FAFC;
    color: #322f31;
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background: #322f31;
}
.preloader i {
    color: #00FF00;
    position: absolute;
    font-size: 36px;
    line-height: 36px;
    top: 50%;
    left: 50%;
    height: 36px;
    width: 36px;
    margin-top: -15px;
    margin-left: -15px;
    display: inline-block;
}
.home_area {
    z-index: 1;
    background: -webkit-linear-gradient(45deg, #006400 , #00FF00);
    background: -moz-linear-gradient(45deg, #006400 , #00FF00);
    background: -ms-linear-gradient(45deg, #006400 , #00FF00);
    background: -o-linear-gradient(45deg, #006400 , #00FF00);
    background: linear-gradient(45deg, #006400 , #00FF00);
    background-size: cover;
    position: sticky;
}
.home_area .home_inner {
    width: 100%;
}
.home_area .home_inner .col-lg-6 {
    vertical-align: middle;
    align-self: center;
}
.home_area .home_inner .home_left_img {
    padding-top: 230px;
    padding-bottom: 230px;
}
.home_area .home_inner .home_content {
    text-align: left;
    color: #fff;
    margin-left: 70px;
}
.home_area .home_inner .home_content h2 {
    margin-top: 0px;
    font-size: 40px;
    font-weight: bold;
    line-height: 72px;
    margin-bottom: 20px;
}
.home_area .home_inner .home_content {
    text-align: left;
    color: #fff;
    margin-left: 70px;
}
.primary_btn {
    display: inline-block;
    background: #322f31;
    border: 2px solid #322f31;
    background-size: 200% auto;
    padding: 0px 35px;
    color: #fff;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 50px;
    border-radius: 5px;
    outline: none !important;
    text-align: center;
    text-transform: uppercase;
}
.primary_btn:hover {
    color: #00FF00;
}
a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.about_us_area {
    position: relative;
}
.section_gap {
    padding: 80px 0 !important;
}
.about_content {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    padding: 0 100px;
    font-size: 18px;
    line-height: 1.8;
    color: #fff;
}
.about_content p {
    margin-bottom: 0px;
    padding: 20px 40px 20px 0;
    font-size: 25px;
}
.main_title {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.main_title h1 {
    color: #322f31;
    font-size: 52px;
}
.service_area{
    background-color: #E6E6FA;
}
.service_item {
    background: #fff;
    text-align: center;
    -webkit-box-shadow: 0px 0px 25px -5px rgb(0 0 0 / 40%);
    -moz-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 25px -5px rgb(0 0 0 / 40%);
    margin: 60px 40px;
    height: 600px;
    border-radius: 20px;
}
.service_item h1.p_title {
    font-weight: 600;
    color: black;
    margin: 0;
    font-size: 36px;
    margin: 0 50px;
}
.service_item ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    padding: 35px 50px 18px;
}
.service_item ul li {
    font-weight: 200;
    font-size: 16px;
    line-height: 1.8;
    padding: 14px 0;
    font-family: "Poppins", sans-serif;
}
.service_area {
    position: relative;
}
.section_gap {
    padding: 80px 0 !important;
}
.portifolio_area {
    background: #E6E6FA;
    height: 1500px;
}
.section_gap {
    padding: 80px 0 !important;
}
.carousel-inner{
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 25px -5px rgb(0 0 0 / 60%);
    -moz-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 25px -5px rgb(0 0 0 / 60%);
}
.portifolio_area h2{
    text-align: center;
    color: black;
}
.portifolio_area .d-flex {
    align-items: center;
    padding-left: 44%;
}
.contact_area {
    background: #fff;
    padding-top: 150px;
    padding-bottom: 100px;
}
.section_gap {
    padding: 80px 0 !important;
}
.white-color {
    color: white;
    text-align: center;
}
.info-item {
    color: white;
    text-align: center;
}
.info-item .fab {
    font-size: 30px;
}
.far {
    font-size: 30px;
}
